/* ************************************* About style *************************************/
#about {
  color: #fff;
}
#about p a,
#experience li a {
  color: #00d6ff;
  text-decoration: none;
}
#about p a:hover,
#experience li a:hover {
  color: #ee445f;
  transition: all ease 0.5s;
}
#about button {
  width: 200px;
  align-self: center;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: 1px;
  color: #00d6ff;
  border-color: #00d6ff;
  box-shadow: rgb(0 0 0 / 56%) 0px 22px 70px 4px;
}
#about button:hover {
  color: #ee445f;
  border-color: #ee445f;
  background-color: transparent;
}
#about img {
  width: 450px;
  height: 500px;
  border-radius: 5px;
  box-shadow: blue 0px 0px 5px 8px inset, rgb(52 60 64) 31px 29px 2px -4px,
    rgb(0 214 255) 32px 30px;
  transition: all linear 0.3s;
}
#about img:hover {
  box-shadow: blue 0px 0px 5px 8px inset, rgb(52 60 64) 15px 16px 2px -4px,
    rgb(238 68 95) 15px 15px;
  transition: all linear 0.3s;
}

#about p {
  text-align: justify;
}

#about .flip-card {
  width: 450px;
  cursor: pointer;
}

#about .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#about .flip-card-front,
#about .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
#about .flip-card-back {
  background-color: rgb(52 60 64);
  color: white;
  transform: rotateY(180deg);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media (max-width: 767px) {
  #about {
    margin-top: 80px;
    padding-bottom: 20px;
  }
  #about .preferably-square {
    aspect-ratio: 1 / 1;
  }

  #about .photo {
    width: 80%;
  }
  #about img {
    box-shadow: blue 0px 0px 5px 8px inset, rgb(52 60 64) 32px 12px 2px -4px,
      rgb(0 214 255) 32px 12px;
    width: 80%;
    height: 80%;
  }
  #about img:hover {
    box-shadow: blue 0px 0px 5px 8px inset, rgb(52 60 64) 13px 9px 2px -4px,
      rgb(238 68 95) 13px 9px;
  }
  #about p {
    padding: 0px 10px;
  }
  #about > div:nth-child(2) {
    justify-content: center;
  }
  #about .flip-card-back {
    height: 80%;
  }
  #about .flip-card-front {
    color: black;
    height: 100%;
  }
}




.card__bx {
  --bg-clr: #282828;
  --txt-clr: #ffffff;
  --btn-txt-clr: #333333;
  --transition: all 0.5s;

  font-family: 'Poppins', sans-serif;
  height: 400px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
  border-top-left-radius: 70px;
  position: relative;
  overflow: hidden;
  background: var(--clr);
  transition: var(--transition);
}
.card__2 {
  --clr: #ff1f6b;
}
.card__bx .card__data {
  position: absolute;
  inset: 10px;
  border-radius: 10px;
  background: var(--bg-clr);
}
.card__bx .card__data .card__icon {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 50%;
  height: 140px;
  width: 140px;
  background: var(--clr);
}
.card__bx .card__data .card__icon .card__icon-bx {
  position: absolute;
  inset: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background: var(--bg-clr);
  color: var(--clr);
}
.card__bx:hover .card__data .card__icon .card__icon-bx {
  background: var(--clr);
  color: var(--txt-clr);
  transition: var(--transition);
}
.card__bx .card__data .card__content {
  position: absolute;
  top: 150px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: var(--txt-clr);
}