/*
file name: app.css
Author: Andres Correa Moreno
website name: My Portfolio

Dscription: File where is all the style for the page
*/

/* ********************************** General style ***********************************/
body {
  background-color: #192226e0;
  height: 90vh;
}

html {
  height: 100vh;
  overflow-y: hidden;
}
.App {
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p {
  color: #ffffffeb;
  font-size: 15px;
  font-family: "Lato";
  letter-spacing: 0.5px;
  font-weight: 300;
  hyphens: auto;
}
h1,
h2,
h3,
h4,
h5,
label,
span {
  font-family: "Lato";
  letter-spacing: 0.2px;
}

/* *************************** Landing style ************************************/
.bg-landing {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.bg-landing div {
  position: relative;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(120deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-animation-fill-mode: forwards;
}
.bg-landing div h1 {
  font-weight: 900;
}
.bg-landing img {
  width: 20rem;
}

/* ****************************** Home style **************************/
#home {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home-background {
  background-image: url(./assets/img/bgHome.jpg);
  width: 100%;
  height: 100%;
  background-size: initial;
  background-position-x: initial;
  background-position-y: center;
}
#home .right img {
  width: 7rem;
}
#home h4 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}
#home h1 {
  color: #00d6ff;
  font-size: 70px;
  letter-spacing: 1px;
}
#home h5 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
}
#home .glitch {
  color: white;
  font-size: 20px;
  position: relative;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}
#home .glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 16px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinit7e linear alternate-reverse;
}
/* The next effect was taken from https://codepen.io/melzshawn1998/pen/xxdwORB and cutomized by me  */

#home .glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 3px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
@keyframes noise-anim {
  0% {
    clip: rect(51px, 9999px, 28px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 19px, 0);
  }
  10% {
    clip: rect(92px, 9999px, 13px, 0);
  }
  15% {
    clip: rect(85px, 9999px, 49px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 56px, 0);
  }
  25% {
    clip: rect(26px, 9999px, 31px, 0);
  }
  30% {
    clip: rect(62px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(34px, 9999px, 11px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 61px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 71px, 0);
  }
  50% {
    clip: rect(35px, 9999px, 69px, 0);
  }
  55% {
    clip: rect(92px, 9999px, 81px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(2px, 9999px, 68px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 79px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(70px, 9999px, 60px, 0);
  }
  85% {
    clip: rect(32px, 9999px, 26px, 0);
  }
  90% {
    clip: rect(94px, 9999px, 53px, 0);
  }
  95% {
    clip: rect(99px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(42px, 9999px, 27px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(21px, 9999px, 49px, 0);
  }
  5% {
    clip: rect(27px, 9999px, 52px, 0);
  }
  10% {
    clip: rect(21px, 9999px, 70px, 0);
  }
  15% {
    clip: rect(65px, 9999px, 25px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(61px, 9999px, 64px, 0);
  }
  30% {
    clip: rect(34px, 9999px, 47px, 0);
  }
  35% {
    clip: rect(46px, 9999px, 93px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 9px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 36px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 20px, 0);
  }
  55% {
    clip: rect(79px, 9999px, 26px, 0);
  }
  60% {
    clip: rect(13px, 9999px, 87px, 0);
  }
  65% {
    clip: rect(10px, 9999px, 25px, 0);
  }
  70% {
    clip: rect(85px, 9999px, 11px, 0);
  }
  75% {
    clip: rect(94px, 9999px, 35px, 0);
  }
  80% {
    clip: rect(50px, 9999px, 86px, 0);
  }
  85% {
    clip: rect(74px, 9999px, 67px, 0);
  }
  90% {
    clip: rect(1px, 9999px, 40px, 0);
  }
  95% {
    clip: rect(3px, 9999px, 48px, 0);
  }
  100% {
    clip: rect(90px, 9999px, 23px, 0);
  }
}




















@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*====================================================================================================
Screen - Small (xs) - 480px or vertical 320px
====================================================================================================*/
@media (max-width: 767px) {
  html {
    overflow-y: auto;
  }

  header nav ul {
    margin-top: 1rem;
  }

  header nav ul li {
    padding: 5px 0px;
  }

  #about,
  #experience,
  #services,
  #contact {
    margin-top: 80px;
  }

  nav {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 1030 !important;
  }

  #home-background {
    background-image: url(./assets/img/bgHome-small.jpg);
    background-size: cover;
  }

  #home .glitch:before {
    left: 43px;
  }

  #home .glitch:after {
    left: 45px;
  }

  #home h1 {
    font-size: 40px;
    margin-left: 1rem;
    margin-top: 5rem;
  }
  #home h5 {
    margin-top: 5rem;
    text-align: center;
  }
  #home .glitch {
    text-align: center;
  }
  #about .photo {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #about img {
    box-shadow: blue 0px 0px 5px 8px inset, rgb(52 60 64) 32px 12px 2px -4px,
      rgb(0 214 255) 32px 12px, rgb(52 60 64) 4px -15px 0px -3px;
  }

  #about img:hover {
    box-shadow: blue 0px 0px 5px 8px inset, rgb(52 60 64) 13px 9px 2px -4px,
      rgb(238 68 95) 13px 9px, rgb(52 60 64) 4px -15px 0px -3px;
  }
  #about p,
  #experience li {
    padding: 0px 10px;
  }

  #experience .job-btns {
    width: calc(100% + 50px);
    padding-left: 35px;
    margin-left: -15px;
    overflow-x: auto;
  }
  #experience .job-info {
    margin-top: 2rem !important;
  }

  #experience {
    padding-left: 15px;
    padding-right: 15px;
  }

  #experience button {
    height: 40px;
    text-align: center;
    border-left: none;
    border-bottom: 0.5px solid #6c757d;
    min-width: 190px;
    padding: 0px 15px;
  }

  .activeButton {
    color: #ee445f !important;
    border-left: none !important;
    border-bottom: 3px solid !important;
  }

  #experience .skillsProjectsContainer .skills,
  #experience .skillsProjectsContainer .projects {
    justify-content: space-between;
  }

  #experience .skills-projects-bg {
    box-shadow: none;
  }

  #services .leftServices .service,
  #services .rightServices .service {
    background: rgb(23 115 135);
    margin-top: 1rem;
  }

  #services > div {
    justify-content: center;
  }

  #services figure {
    position: absolute;
    width: 87%;
    top: 30vh;
    z-index: -2;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  html {
    overflow-y: scroll;
  }
}
